<div id="confirmacao" class="modal modal-fixed-footer confirmacao">
  <div class="modal-content">
    <p>Deseja finalizar a postagem?</p>
  </div>
  <div class="modal-footer">
    <button class="btn waves-effect waves-light btnSim">Sim</button>
    <button class="btn waves-effect waves-light btnNao">Não</button>
  </div>
</div>