<div class="footer footer--unselectable">
  <div class="footer_painel">
    <div class="footer__direitos">
      <footer>
        © 2021 - Aplica Web - Todos os direitos reservados
      </footer>
    </div>
  </div>
</div>