<div class="header header--unselectable">
  <div class="header__painel">
    <div class="header__menu">
      <a class="dropdown-trigger icon" data-target="dropdown">
        <span class="material-icons">menu</span>
      </a>
      <ul id="dropdown" class="dropdown-content">
        <li><a class="dropdown__link" href="">Artigos</a></li>
        <li><a class="dropdown__link" href="">Tutorial</a></li>
        <li><a class="dropdown__link" href="">Cursos</a></li>
      </ul>
    </div>
    <div class="header__logo">
      <p><a href="/index.html">APLICA WEB</a></p>
    </div>
    <div class="header__links">
      <a class="header__link">Artigos</a>
      <a class="header__link">Tutorial</a>
      <a class="header__link">Cursos</a>
    </div>
  </div>
</div>