<!DOCTYPE html>
<html lang="pt-br">

<head>
  <title>Aplica Web</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" type="text/css" href="/static/stylesheets/shared/materialize.min.css">
  <link rel="stylesheet" type="text/css" href="/static/stylesheets/shared/style.css">
  <link rel="stylesheet" type="text/css" href="/static/stylesheets/aplica.web.index.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <%- include('shared/header.ejs') %>
  <div class="body">
    <div class="container">
    </div>
  </div>
  <%- include('shared/footer.ejs') %>
  <script data-main="/static/javascripts/index-main" src="/static/javascripts/shared/require.js"></script>
</body>

</html>