<!DOCTYPE html>
<html lang="pt-br">
<head>
  <%- include('shared/importacoes.ejs') %>
  <link rel="stylesheet" type="text/css" href="/stylesheets/aplica.web.index.css">
</head>
<body>
  <%- include('shared/header.ejs') %>
  <div class="body">
    <div class="container">
    </div>
    <div class="controle-de-busca row center" style="display: none;">
      <button class="btn waves-effect orange buscarMais" name="salvar">Buscar Mais</button>
    </div>
  </div>
  <%- include('shared/footer.ejs') %>
  <script data-main="/javascripts/index.main" src="/javascripts/shared/require.js"></script>
</body>
</html>