<div class="row">
  <div class="col s12">
    <div class="card postagem" id="<%= id %>">
      <h2 class="postagem__titulo center-align">
        <%= titulo %>
      </h2>
      <div class="card-content">
        <%- conteudo %>
      </div>
    </div>
  </div>
</div>