.voltar {
  margin-left: 7px;
  margin-top: 7px;
}

.badge-tipo {
  margin-right: 7px;
  margin-top: 7px;
}

.titulo-postagem{
  font: 900 1.5rem/1.3 Roboto,Arial,Helvetica,Sans-serif;
  font-size: 40px;
}

@media only screen and (min-width: 600px) {
  .container {
    width: 100% !important;
  }
}