.postagem__titulo {
  color: #006d77; 
  font-family: 'Signika', sans-serif; 
  padding-bottom: 10px;
  margin-bottom: 0px;
  margin-top: 0px;
  padding-top: 25px;
  padding-bottom: 0px;
}

.postagem__tipo {
  float: none !important;
}

.span.badge {
  float: none !important;
}

@media only screen and (min-width: 600px) {
  .postagem {
    min-height: 480px;
  }

  .container {
    width: 100% !important;
  }
  
  .postagem__titulo {
    font-size: 45px; 
  }
}

@media only screen and (max-width: 600px) {
  .postagem__titulo {
    font-size: 38px; 
  }

  .postagem {
    min-height: 600px;
  }
}